In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Shows all columns
pd.set_option('display.width', None)  # Shows full width
pd.set_option('display.max_colwidth', None) # Shows full content of the columns

df = pd.read_csv('amazon_data.csv')

In [2]:
pd.DataFrame(df[df.columns[df.isnull().sum() != 0]].isnull().sum())

                                          0
Revenue                                4982
Gross Profit                           4982
Operating Income                       4982
Dividends Paid                         4982
Dividend Yield                         4982
Cash Ratio                             4982
Total Assets                           4982
Total Equity                           4982
Annual Dividend Rate                   4982
Trailing Twelve Months (TTM) Revenue   4982
Trailing Twelve Months (TTM) EBITDA    4982
Trailing Twelve Months (TTM) Earnings  4982

In [3]:
dd =df.dropna(axis=1, thresh=int(df.shape[0] * 0.5))

In [4]:
dd = dd.drop(columns=['Analyst Recommendation'])

In [5]:
df.shape

(4982, 41)

In [6]:
dd.shape # 13 columns were dropped

(4982, 28)

In [9]:
dd['Company'].value_counts()

Company
Amazon    4982
Name: count, dtype: int64

In [10]:
dd.describe()

,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Quarterly Revenue Growth,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Beta (5Y)
count,4982.000000,4982.000000,4982.000000,4982.000000,4982.000000,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4982.000,4982.000,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4982.00,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03
mean,52.749220,53.354723,52.087592,52.736332,52.736332,1.056258e+08,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
std,58.915714,59.580503,58.176568,58.883632,58.883632,9.067461e+07,0.000000e+00,7.106141e-15,2.220669e-16,8.882676e-16,7.106141e-15,0.000000e+00,2.842456e-14,2.775836e-17,0.000,0.000,5.684912e-14,0.000000e+00,2.775836e-17,1.387918e-17,0.00,1.776535e-15,0.000000e+00,0.000000e+00,2.220669e-16
min,1.304500,1.315000,1.288000,1.303500,1.303500,1.762600e+07,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
25%,5.928250,6.017125,5.850000,5.928500,5.928500,5.789350e+07,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
50%,18.527750,18.685750,18.334499,18.528500,18.528500,8.423600e+07,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
75%,93.507374,94.556376,92.393002,93.480623,93.480623,1.264360e+08,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
max,200.089996,201.199997,199.050003,200.000000,200.000000,2.086584e+09,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00

# Standarding

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

Columns = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
dd[Columns] = scaler.fit_transform(dd[Columns])

In [12]:
dd.describe()

,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Quarterly Revenue Growth,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Beta (5Y)
count,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4982.000,4982.000,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03,4982.00,4.982000e+03,4.982000e+03,4.982000e+03,4.982000e+03
mean,9.127807e-17,9.127807e-17,4.563904e-17,4.563904e-17,4.563904e-17,-2.281952e-17,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
std,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,0.000000e+00,7.106141e-15,2.220669e-16,8.882676e-16,7.106141e-15,0.000000e+00,2.842456e-14,2.775836e-17,0.000,0.000,5.684912e-14,0.000000e+00,2.775836e-17,1.387918e-17,0.00,1.776535e-15,0.000000e+00,0.000000e+00,2.220669e-16
min,-8.732795e-01,-8.735231e-01,-8.732844e-01,-8.735534e-01,-8.735534e-01,-9.705986e-01,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
25%,-7.947908e-01,-7.945947e-01,-7.948601e-01,-7.950007e-01,-7.950007e-01,-5.264661e-01,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
50%,-5.809130e-01,-5.819429e-01,-5.802419e-01,-5.809979e-01,-5.809979e-01,-2.359201e-01,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
75%,6.918739e-01,6.915985e-01,6.928813e-01,6.920154e-01,6.920154e-01,2.295270e-01,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00
max,2.501125e+00,2.481686e+00,2.526398e+00,2.501178e+00,2.501178e+00,2.184908e+01,2.000000e+12,4.549641e+01,1.147000e+00,4.180000e+00,3.273236e+01,4.441900e+10,6.675600e+01,2.193300e-01,1.096,0.101,2.189000e+02,5.919100e+10,9.915000e-02,7.350000e-02,0.84,8.437223e+00,2.040000e+12,1.580000e+11,1.147000e+00

# Dedecting outliers
**Purpose:** Outliers can affect the performance of machine learning models, especially regression models.

In [13]:
# Dedecting outliers using Z-score
import numpy as np
from scipy import stats

# Z-score method to detect outliers
z_scores = stats.zscore(dd[Columns])
abs_z_scores = np.abs(z_scores)
dd_no_outliers = dd[(abs_z_scores < 3).all(axis=1)]  # Keep rows where Z-score < 3

**Date Formating**

In [ ]:
dd['Date'] = pd.to_datetime(dd['Date'])

# Exploratory Data Analysis (EDA)

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns