In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Shows all columns
pd.set_option('display.width', None)  # Shows full width
pd.set_option('display.max_colwidth', None) # Shows full content of the columns

df = pd.read_csv('FAANG.csv')

# Spliting FAANG Companies
Im just splited my data into 5 due to various company

In [2]:
facebook_data = df[df['Company'] == 'Facebook']
apple_data = df[df['Company'] == 'Apple']
amazon_data = df[df['Company'] == 'Amazon']
netflix_data = df[df['Company'] == 'Netflix']
google_data = df[df['Company'] == 'Google']

In [3]:
facebook_data.to_csv('facebook_data.csv', index=False)
apple_data.to_csv('apple_data.csv', index=False)
amazon_data.to_csv('amazon_data.csv', index=False)
netflix_data.to_csv('netflix_data.csv', index=False)
google_data.to_csv('google_data.csv', index=False)

In [4]:
facebook_nulls = pd.DataFrame(facebook_data[facebook_data.columns[facebook_data.isnull().sum() != 0]].isnull().sum())
apple_nulls = pd.DataFrame(apple_data[apple_data.columns[apple_data.isnull().sum() != 0]].isnull().sum())
amazon_nulls = pd.DataFrame(amazon_data[amazon_data.columns[amazon_data.isnull().sum() != 0]].isnull().sum())
netflix_nulls = pd.DataFrame(netflix_data[netflix_data.columns[netflix_data.isnull().sum() != 0]].isnull().sum())
google_nulls = pd.DataFrame(google_data[google_data.columns[google_data.isnull().sum() != 0]].isnull().sum())

combined_nulls = pd.concat([facebook_nulls.T, apple_nulls.T, amazon_nulls.T, netflix_nulls.T, google_nulls.T], axis=0)

combined_nulls.index = ['Facebook', 'Apple', 'Amazon', 'Netflix', 'Google']

display(combined_nulls)

,Revenue,Gross Profit,Operating Income,Cash Ratio,Total Assets,Total Equity,Trailing Twelve Months (TTM) Revenue,Trailing Twelve Months (TTM) EBITDA,Trailing Twelve Months (TTM) Earnings,Dividends Paid,Dividend Yield,Annual Dividend Rate,Beta,Beta (5Y)
Facebook,3125,3125,3125,3125,3125,3125,3125,3125,3125,NaN,NaN,NaN,NaN,NaN
Apple,4983,4983,4983,4983,4983,4983,4983,4983,4983,NaN,NaN,NaN,NaN,NaN
Amazon,4982,4982,4982,4982,4982,4982,4982,4982,4982,4982.0,4982.0,4982.0,NaN,NaN
Netflix,4982,4982,4982,4982,4982,4982,4982,4982,4982,4982.0,4982.0,4982.0,4982.0,4982.0
Google,4983,4983,4983,4983,4983,4983,4983,4983,4983,NaN,NaN,NaN,NaN,NaN

In [5]:
3125+(4983*2)+(4982*2)

23055

In [6]:
# Revenue	Gross Profit	Operating Income	Cash Ratio	Total Assets	Total Equity	Trailing Twelve Months (TTM) Revenue	Trailing Twelve Months (TTM) EBITDA	Trailing Twelve Months (TTM) Earnings
#  To remove dd =df.dropna(axis=1, thresh=int(df.shape[0] * 0.5)) 

facebook = facebook_data.dropna(axis=1, thresh=int(facebook_data.shape[0] * 0.5))
apple = apple_data.dropna(axis=1, thresh=int(apple_data.shape[0] * 0.5))
amazon = amazon_data.dropna(axis=1, thresh=int(amazon_data.shape[0] * 0.5))
netflix = netflix_data.dropna(axis=1, thresh=int(netflix_data.shape[0] * 0.5))
google = google_data.dropna(axis=1, thresh=int(google_data.shape[0] * 0.5))

In [7]:
facebook_null = pd.DataFrame(facebook[facebook.columns[facebook.isnull().sum() != 0]].isnull().sum())
apple_null = pd.DataFrame(apple[apple.columns[apple.isnull().sum() != 0]].isnull().sum())
amazon_null = pd.DataFrame(amazon[amazon.columns[amazon.isnull().sum() != 0]].isnull().sum())
netflix_null = pd.DataFrame(netflix[netflix.columns[netflix.isnull().sum() != 0]].isnull().sum())
google_null = pd.DataFrame(google[google.columns[google.isnull().sum() != 0]].isnull().sum())

combined_null = pd.concat([facebook_null.T, apple_null.T, amazon_null.T, netflix_null.T, google_null.T], axis=0)

combined_null.index = ['Facebook', 'Apple', 'Amazon', 'Netflix', 'Google']

display(combined_null)

Empty DataFrame
Columns: []
Index: [Facebook, Apple, Amazon, Netflix, Google]